input.ocultar {
  display: none;
}

.captcha {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border: solid 1px black;
  font-size: 30px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.captcha input[type="text"] {
  height: 80px;
  width: 150px;
  border: none;
}
