body{margin-top:20px;
    background:#eee;
    }
    
.panel-body{
    background-color: lightblue;
}

    /*panel*/
    .panel {
        border: none;
        box-shadow: none;
    }
    
    .panel-heading {
        border-color:#eff2f7 ;
        font-size: 16px;
        font-weight: 300;
    }
    
    .panel-title {
        color: #2A3542;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0;
        font-family: 'Open Sans', sans-serif;
    }
    
  .m-bot15{
      margin-bottom: 15px;
  }   
    
    

    .product-list .pro-img-box {
        position: relative;
    }
    .adtocart {
        background: #fc5959;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #fff;
        display: inline-block;
        text-align: center;
        border: 3px solid #fff;
        left: 45%;
        bottom: -25px;
        position: absolute;
    }
    
    .adtocart i{
        color: #fff;
        font-size: 25px;
        line-height: 42px;
    }
    
    .pro-title {
        color: #5A5A5A;
        display: inline-block;
        margin-top: 20px;
        font-size: 16px;
    }
    
    .product-list .price {
        color:#fc5959 ;
        font-size: 15px;
    }
    
    .pro-img-details {
        margin-left: -15px;
    }
    
    .pro-img-details img {
        width: 75%;
    }
    
    .pro-d-title {
        font-size: 45px;
        margin-top: 40px;
        margin-right: 40px;
    }

    .description{
        font-size: 20px;

    }
    
    .product_meta {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        margin: 15px 0;
        font-size: 20px;
    }
    
    .product_meta span {
        display: block;
        margin-bottom: 10px;
    }
    .product_meta a, .pro-price{
        color:#fc5959 ;
    }
    
    .pro-price, .amount-old {
        font-size: 18px;
        padding: 0 10px;
    }
    
      