a {
  text-decoration: none;
  color: black;
}

.nav-item{
    font-size: 25px;
}

.navbar-light .navbar-brand{
font-size: 35px;
}

.menu{
    margin-left: 60%;
}

.navbar {
height: 150px;
-webkit-box-shadow: 2px 6px 27px -9px rgba(230,230,230,1);
-moz-box-shadow: 2px 6px 27px -9px rgba(230,230,230,1);
box-shadow: 2px 6px 27px -9px rgba(230,230,230,1);
}

.main-body{
    height: 820px;
}

.color-b{
    color:green;
}

.intro-body{
    height: 600px;
    padding-top: 2rem;
    padding-left: 1rem;
}

.intro-title-top {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: .05em;
  }
  
.intro-title{
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-top: 1rem;
    color: #ffffff;
}  

.price-a {
    color: #ffffff;
    padding: 1rem 1.5rem;
    border: 2px solid #2eca6a;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.030em;
    margin: 2%;
  }

  .price-a a:hover{
    text-decoration: none;
  }

  .bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .body-login{
    height: 700px;
  }

