table,
tr,
td {
  border: 4px solid #e42256;
  border-collapse: collapse;
  text-align: center;
  color: black;
  width: 100%;
  height: auto; /* tamaño de los casilleros*/
  margin: 2px;
  font-size: small; /* tamaño de letras de todo el cuadro relativo*/
  background-color: cornsilk;
}
th {
  background-color: #00b1b0;
  color: whitesmoke;
  font-size: larger; /* tamaño de los titulos de las tablas relativo*/
}
table {
  margin: 10%; /*para centrar la tabla*/
}

@media only screen and (min-width: 700px) {
  table,
  tr,
  td {
    /* aplica para PELUQUERIA Y GUARDERIA*/
    border: 4px solid #e42256;
    border-collapse: collapse;
    text-align: center;
    color: black;
    width: 800px;
    height: 40px; /* tamaño de los casilleros*/
    margin: 30px;
    font-size: 30px; /* tamaño de letras de todo el cuadro*/
    background-color: cornsilk; /* fondo de color de las tablas*/
  }

  th {
    /* aplica para PELUQUERIA Y GUARDERIA */
    background-color: #00b1b0;
    color: whitesmoke;
    font-size: 35px; /* tamaño de los titulos de las tablas*/
  }
}
