<div class="container bootdey">
    <div class="col-md-12">
    <section class="panel">
          <div class="panel-body">
              <div class="col-md-6">
                  <div class="pro-img-details">
                      <img src="imagenes/{$productDetail[0]->id_category}.png" alt="" style="width: 550px; height: 380px;">
                  </div>
              </div>
              <div class="col-md-6">
                  <h4 class="pro-d-title">
                    {$productDetail[0]->name}
                  </h4>
                  <p>
                    {$productDetail[0]->description}
                  </p>
                  <div class="product_meta">
                      <span class="posted_in"> <strong>Category:</strong> 
                  </div>
                  <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">{$productDetail[0]->price}</span></div>
                   <p>
                    <a href="store"><button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i>Volver a la tienda</button></a>
                  </p>
              </div>
          </div>
      </section>
      </div>
      </div>